.sc-classic {
    .profileHeader {
        .profileHeaderBackground__visual {
            background-size: cover;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(transparent 50%, var(--bg) 100%);
            }
        }

        .editImage__select, .profileHeader__chooserWrapper {
            position: relative;

            .imageEditDropdownButton {
                position: absolute;
                background-color: inherit;
            }
        }
        
        .profileHeader__chooserWrapper .imageEditDropdownButton {
            right: 0;
        }
    }

    .userInfoBar {
        padding: 0;

        .profileTabs {
            border: none;
        }

        .userInfoBar__buttons {
            z-index: 11;
        }
    }

    .l-vertical-bar:has(.userInfoBar) {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    .dropbar.m-insideContent {
        display: none;
    }

    .userInfoBar__buttons .sc-button-group {
        .sc-button-insights {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .owned .soundActions .sc-button-like {
        border-top-right-radius: var(--btn-radius);
        border-bottom-right-radius: var(--btn-radius);
        margin-right: var(--btn-outline-width);
    }
}
