.sc-classic .modular-home-mixed-selection {
    .playableTile__image {
        border-radius: 1rem;
        overflow: hidden;
    }
    .lazyLoadingList__list {
        .mixedModularHome__item {
            .mixedSelectionModule {
                border: none;
            }
        }
    }
}

.sc-classic .lazyLoadingList .loading {
    filter: invert(1);
}
