.sc-classic .modular-home-mixed-selection {
    .playableTile__image {
        border-radius: 1rem;
        overflow: hidden;
    }
    .lazyLoadingList__list {
        .mixedModularHome__item {
            .mixedSelectionModule {
                border: none;
            }
        }
    }
}

.sc-classic .lazyLoadingList .loading {
    filter: invert(1);
}

.sc-classic .sc-border-light-right {
    border: none;
}

.sc-classic .l-sidebar-right {
    .sidebarHeader {
        border-bottom: none;
    }
}
