.sc-classic .stream, .sc-classic .sound {
    .sound__content {
        overflow: visible;

        .soundTitle__title {
            font-weight: bold;
        }
    }

    .commentForm {
        margin-top: 0 !important;

        &.visible .commentForm__wrapper {
            height: auto !important;
            padding: 0.5rem 1rem;
        }

        .commentForm__wrapper {
            background: transparent;
            border: none;
            height: 0;
            padding: 0;

            .commentForm__avatar .sc-artwork {
                border-radius: 100%;
            }

            .commentForm__inputWrapper {
                .commentForm__input {
                    background-color: transparent;
                    border: none;
                    color: var(--text);
                }
            }
        }
    }
}
